/*Tamaño y posicion del formulario*/
#Formulario{
    margin-left: 20%;
    margin-right: 20%;
    height: 800px;
    
}

/*necesario para poder jugar con porcentajes el bloques posteriores*/
form{
    height: 100%;
}

/*Ajuste general para el tipo letra, color, tamaño, margen y pad*/
.control{
    font-size: 20px;
    border-radius: 0.5cm;
    margin: auto;
    text-align: center;
    background-color: gray;
    color: white;
}

/*Cambia el color de las palabras dentro de los inputs*/
::placeholder{
    color: white;
}

/*Ajuste input nombre*/
#nombre{
    grid-column:1;
    grid-row: 1;
    width: 100%;
    color: white;
}

/*Ajuste input email*/
#email{
    grid-column:2;
    grid-row: 1;
    width: 100%;
}

/*Ajuste textarea motivo*/
#motivo{
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row: 3;
    width: 100%;
}


#Formulario label{
    background-color: rgb(87, 83, 83);
    color: white;
}




/*Ajustes para el tamaño en movil*/
@media (max-width: 800px){
    #Formulario{
        margin-left: 10%;
        margin-right: 10%;
        height: 800px;
    }

    /*Zona en la cual aplicamos una cantidad de filas y columnas para el formulario*/
    #Formulario div{
        border-radius: 0.5cm;
        height: 100%;
        display: grid;
        grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11%;
        grid-template-columns:  98%;
        background-color: rgb(87, 83, 83);
        grid-gap: 5px;
        margin-top: 10%;
        padding-left: 2%;
        
    }
    
    #boton{
        margin-left: 10%;
        grid-row:8;
        grid-column:1;
        width: 35%;
        height: 40%;
    }
    #boton2{
        margin-right: 10%;
        grid-row:8;
        grid-column:1;
        width: 35%;
        height: 40%;
    }
    
    #grupo{
        margin-bottom: 2%;
        grid-column:1;
        grid-row: 6;
        width: 60%;
        height: 35%;
    }
    #cocheselecion{
        margin-top: 2%;
        grid-column:1;
        grid-row: 6;
        text-decoration-line: underline;
    }
    
    ::placeholder{
        color: white;
    }
    
    #nombre{
        grid-column:1;
        grid-row: 1;
        width: 100%;
        color: white;
    }
    #email{
        grid-column:1;
        grid-row: 2;
        width: 100%;
    }
    #fecha{
        color: white;
        text-decoration-line: underline;
        margin-top:3% ;
        grid-column:1;
        grid-row: 3;
    }
    #fecha2{
        grid-column:1;
        grid-row: 3;
        width: 70%;
        margin-bottom: 3%;
    }
    #motivo{
        grid-column-start: 1; 
        grid-column-end: 3;
        grid-row: 5;
        
        width: 100%;
    }

    #terminos{
        grid-column:1;
        grid-row: 7;
        margin-left: 10%;
    
    }

    #condiciones{
        grid-column:1;
        grid-row: 7;
        width: 60%;
        text-decoration-line: underline;
    }
    .Pago{
        grid-row:4;
        grid-column:1;
        margin: auto;
    }
    #rem{
        margin-left: 0;
        margin-top: 10%;
    }
    #tar{
        margin-left: 44%;
        margin-top: 10%;
    }
    #tran{
        margin-left: 67%;
        margin-top: 10%;
    }
    #REM{
        margin-left: 5%;
        margin-top: 9.5%;
    }
    #TAR{
        margin-left: 49%;
        margin-top: 9.5%;
    }
    #TRAN{
        margin-left: 72%;
        margin-top: 9.5%;
    }
    #Formato{
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
        background-color: gray;
        color: white;
        text-decoration-line: underline;
    }

}

/*tamaño en tablet / ordenador pequeño*/
@media (min-width: 800px) and (max-width: 1400px) {
    #Formulario div{
        border-radius: 0.5cm;
        height: 100%;
        display: grid;
        grid-template-rows: 15% 15% 15% 15% 15%;
        grid-template-columns:  49% 49%;
        background-color: rgb(87, 83, 83);
        grid-gap: 5px;
        margin-top: 10%;
        padding-left: 2%;
    }

    #boton{
        padding-right: 10px;
        margin-left: 5%;
        grid-row:5;
        grid-column:2;
        width: 40%;
        height: 40%;
    }
    #boton2{
        padding-left: 10px;
        margin-right: 5%;
        grid-row:5;
        grid-column:2;
        width: 40%;
        height: 40%;
    }

    #fecha{
        color: white;
        text-decoration-line: underline;
        margin-top: 3%;
        grid-column:1;
        grid-row: 2;
        background-color: rgb(87, 83, 83);
    }
    #fecha2{
        grid-column:1;
        grid-row: 2;
        width: 50%;
        margin-bottom: 3%;
    }
    #cocheselecion{
        grid-column:1;
        grid-row: 4;
        margin-top: 0%;
        width: 60%;
        background-color: rgb(87, 83, 83);
        text-decoration-line: underline;
    }
    #grupo{
        margin-bottom: 0%;
        grid-column:1;
        grid-row: 4;
        width: 60%;
        height: 35%;
    }
    #terminos{
        grid-column:2;
        grid-row: 4;
        margin-left: 10%;
    
    }

    #condiciones{
        grid-column:2;
        grid-row: 4;
        width: 60%;
        background-color: rgb(87, 83, 83);
        text-decoration-line: underline;
    }

    .Pago{
        grid-row:2;
        grid-column:2;
        margin: auto;
    }
    #rem{
        margin-left: 12%;
        margin-top: 10%;
    }
    #tar{
        margin-left: 12%;
        margin-top: 16%;
    }
    #tran{
        margin-left: 12%;
        margin-top: 22%;
    }
    #REM{
        margin-left: 17%;
        margin-top: 9.5%;
    }
    #TAR{
        margin-left: 17%;
        margin-top: 15.5%;
    }
    #TRAN{
        margin-left: 17%;
        margin-top: 21.5%;
    }
    #Formato{
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
        background-color: gray;
        color: white;
        text-decoration-line: underline;
    }

}

/*pantalla de mas de 1400px*/

@media only screen and (min-width: 1400px){
    #Formulario div{
        border-radius: 0.5cm;
        height: 100%;
        display: grid;
        grid-template-rows: 15% 15% 15% 15% 15%;
        grid-template-columns:  49% 49%;
        background-color: rgb(87, 83, 83);
        grid-gap: 5px;
        margin-top: 10%;
        padding-left: 2%;
    }

    #boton{
        margin-left: 20%;
        grid-row:5;
        grid-column:2;
        width: 20%;
        height: 40%;
    }
    #boton2{
        margin-right: 20%;
        grid-row:5;
        grid-column:2;
        width: 20%;
        height: 40%;
    }
    #fecha{
        color: white;
        text-decoration-line: underline;
        margin-left:0 ;
        grid-column:1;
        grid-row: 2;
    }
    #fecha2{
        grid-column:1;
        grid-row: 2;
        width: 50%;
        margin-right: 0;
    }
    #cocheselecion{
        grid-column:1;
        grid-row: 4;
        margin-left: 0;
        width: 35%;
        text-decoration-line: underline;
    }
    #grupo{
        grid-column:1;
        grid-row: 4;
        width: 60%;
        height: 35%;
        margin-right: 0;
    }
    #terminos{
        grid-column:2;
        grid-row: 4;
        margin-left: 10%;
    
    }

    #condiciones{
        grid-column:2;
        grid-row: 4;
        width: 60%;
        text-decoration-line: underline;
    }

    .Pago{
        grid-row:2;
        grid-column:2;
        margin: auto;
    }
    #rem{
        margin-left: 12%;
        margin-top: 6%;
    }
    #tar{
        margin-left: 12%;
        margin-top: 10%;
    }
    #tran{
        margin-left: 12%;
        margin-top: 14%;
    }
    #REM{
        margin-left: 15%;
        margin-top: 5.5%;
    }
    #TAR{
        margin-left: 15%;
        margin-top: 9.5%;
    }
    #TRAN{
        margin-left: 15%;
        margin-top: 13.5%;
    }
    #Formato{
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
        background-color: gray;
        color: white;
        text-decoration-line: underline;
    }

}